<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link type="text/css" href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', filename='css/header1.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='js/header.js') }}"></script>
</head>
<body>
<div class="div">
<form  action="header" name="headerFrom" method="post" >
<div class="headerBoxContainer">
	<div class ="headerBox1" >
		<div style="world-break:break-all;font-size:20px;font-weight:bold;" >株式会社ブライトスター</div>
		<div style="font-size:10px;">BRIGHT STAR CO.LTD.</div>
	</div>
	<div class ="headerBox2" >社内統合管理システム</div>
	<div class ="headerBox3" ><img src="{{url_for('static',filename='images/tu.png')}}"/></div>


</div>



</form>
</div>
</body>

</html>
