<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>受注登録画面</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="css/common.css" type="text/css"/>
    <link rel="stylesheet" href="css/manage.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" type="text/css"/>
    <style>
        input[type="button"] {
            padding: 0 20px;
        }

        .edit-form select {
            min-width: 100px;
        }

        #ui-datepicker-div {
            width: 160px;
            font-size: 62.5%;
        }
        .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
            width: 30%;
            min-width: 40px;
        }
        .ui-datepicker select.ui-datepicker-year {
            width: 45%;
            min-width: 55px;
        }
    </style>
</head>
<body>
<div class="content">
    <h1><span>■</span>受注登録</h1>
    <div class="content-inner">
        <form action="${pageContext.request.contextPath}/TG0201" method="post" class="edit-form">
            <h2>
                <div class="row">
                    <label for="date" class="red">受注月</label>
                    <a href="javascript:void(0)" style="margin-right: 30px; color: #0066cc" id="minusDateArrow" >&lt;&lt;</a>
                    <input type="text" name="date" id="date" style="width: 90px">

                    <a href="javascript:void(0)" style="margin-left: 30px; color: #0066cc" id="addDateArrow">&gt;&gt;</a>
                    <label for="kariJyutyuu" class="red" style="margin-left: 30px"><input style="margin: 0 8px 0 5px" type="radio" id="kariJyutyuu"
                                                   name="gender" checked>仮受注</label>
                    <label for="honJyutyuu" class="red"><input style="margin: 0 8px 0 20px" type="radio" id="honJyutyuu"
                                                     name="gender">本受注</label>
                    <label style="margin-left: 30px;font-size: 85%;">受注番号：0003-201712-0002</label>
                </div>
            </h2>
            <div class="content-part">
                <div class="row">
                    <label>依頼先</label>
                    <input type="text" name="jyutyuuIraisaki" disabled>
                    <input type="text" name="jyutyuuIraisakiId">
                    <input type="button" value="依頼先検索" disabled>
                </div>
                <div class="row">
                    <label>社員名</label>
                    <input type="text" name="jyutyuuSyainName" disabled id="jyutyuuSyainName">
                    <input type="hidden" name="jyutyuuSyainId">
                    <input type="button" value="社員検索" id="querySyainButton">
                </div>
                <div class="row">
                    <label>契約種類</label>
                    <select name="jyutyuuHakkenSyurui">
                        <option value="1">労働者請負</option>
                    </select>
                </div>
                <div class="row">
                    <label>案件名</label>
                    <input type="text" style="width: 500px" name="jyutyuuAnkeimei" required maxlength="100">
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>作業場所</label>
                        <input type="text" name="jyutyuuSagyouBasyo" required maxlength="50">
                    </div>
                    <div class="row-right">
                        <label>日割り率</label>
                        <input type="number" value="" name="jyutyuuWari" style="width: 100px" min="0" max="1">
                        <span>（0～１の小数点以下2桁まで記入）</span>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>開始日</label>
                        <input type="number" style="width: 100px" name="jyutyuuKaishibi"　min="1" max="31"  value="1" id="jyutyuuKaishibi">
                        <span>日</span>
                    </div>
                    <div class="row-right">
                        <label>終了日</label>
                        <input type="number" style="width: 100px" name="jyutyuuSyuuryoubi"　min="1" max="31"  value="31" id="jyutyuuSyuuryoubi">
                        <span>日</span>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>受注金額</label>
                        <input type="number" style="width: 100px" name="jyutyuuKingaku" min="0" required step="1">
                        <span>円</span>
                    </div>
                    <div class="row-right">
                        <label>精算</label>
                        <select name="jyutyuuSeisan" id="jyutyuuSeisan">
                            <option value="1" selected>精算有</option>
                            <option value="0">精算無</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>下限時間</label>
                        <input type="number" style="width: 100px" name="jyutyuuKagenJikan" min="0" id="jyutyuuKagenJikan">
                        <span>H</span>
                    </div>
                    <div class="row-right">
                        <label>上限時間</label>
                        <input type="number" style="width: 100px" name="jyutyuuJyougenJikan" min="0" id="jyutyuuJyougenJikan">
                        <span>H</span>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>控除金額</label>
                        <input type="number" style="width: 100px" name="jyutyuuKagenKingaku" min="0" id="jyutyuuKagenKingaku">
                        <span>円</span>
                    </div>
                    <div class="row-right">
                        <label>超過金額</label>
                        <input type="number" style="width: 100px" name="jyutyuuJyougenKingaku" min="0" id="jyutyuuJyougenKingaku">
                        <span>円</span>
                    </div>
                </div>
                <div class="row">
                    <label>支払いサイト</label>
                    <select name="jyutyuuShiharaiSite" style="width: 100px">
                        <option value="1">30</option>
                    </select>
                    <span>日</span>
                </div>
                <div class="row textarea-row">
                    <label>備考</label>
                    <textarea name="jyutyuuBikou" maxlength="255"></textarea>
                </div>
            </div>

            <h2>
                <div class="row">
                    <input value="〇" id="gaityuu" type="checkbox">
                    外注
                </div>
            </h2>

            <div class="content-part" id="gaityuuBox" style="display: none">
                <div class="row">
                    <label>外注先</label>
                    <input type="text" name="gaityuusaki" disabled>
                    <input type="hidden" name="gaityuusakiId">
                    <input type="button" value="外注会社検索">
                    <input type="button" value="個人事業主検索">
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>契約種類</label>
                        <select name="gaityuuSyurui">
                            <option value="1">労働者請負</option>
                        </select>
                    </div>
                    <div class="row-right">
                        <label>契約会社</label>
                        <select name="keiyakuGaisha">
                            <option value="1">（株）ブライトスター</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>開始日</label>
                        <input type="number" style="width: 100px" name="gaityuuKaishibi"　min="1" max="31"  value="1" id="gaityuuKaishibi">
                        <span>日</span>
                    </div>
                    <div class="row-right">
                        <label>終了日</label>
                        <input type="number" style="width: 100px" name="gaityuuSyuuryoubi"　min="1" max="31" value="31" id="gaityuuSyuuryoubi">
                        <span>日</span>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>受注金額</label>
                        <input type="number" style="width: 100px" name="gaityuuKingaku" min="0" id="gaityuuKingaku">
                        <span>円</span>
                    </div>
                    <div class="row-right">
                        <label>精算</label>
                        <select name="gaityuuSeisan" id="gaityuuSeisan">
                            <option value="1" selected>精算有</option>
                            <option value="0">精算無</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left">
                        <label>下限時間</label>
                        <input type="number" style="width: 100px" name="gaityuuKagenJikan" min="0" id="gaityuuKagenJikan">
                        <span>H</span>
                    </div>
                    <div class="row-right">
                        <label>上限時間</label>
                        <input type="number" style="width: 100px" name="gaityuuJyougenJikan" min="0" id="gaityuuJyougenJikan">
                        <span>H</span>
                    </div>
                </div>
                <div class="row">
                    <div class="row-left" style="width: 50%">
                        <label>控除金額</label>
                        <input type="number" style="width: 100px" name="gaityuuKagenKingaku" min="0" id="gaityuuKagenKingaku">
                        <span>円</span>
                    </div>
                    <div class="row-right" style="width: 50%">
                        <label>超過金額</label>
                        <input type="number" style="width: 100px" name="gaityuuJyougenKingaku" min="0" id="gaityuuJyougenKingaku">
                        <span>円</span>
                        <input type="button" value="精算金額自動計算" id="calculateKingaku">
                    </div>
                </div>
                <div class="row">
                    <label>支払いサイト</label>
                    <select name="gaityuuShiharaiSite" style="width: 100px">
                        <option value="1">30</option>
                    </select>
                    <span>日</span>
                </div>
                <div class="row">
                    <label>作業員名</label>
                    <input type="text" name="gaityuuShainName">
                </div>
                <div class="row textarea-row">
                    <label for="gaityuuBikou">備考</label>
                    <textarea id="gaityuuBikou" name="gaityuuBikou" maxlength="255"></textarea>
                </div>
            </div>

            <h2 id="bottom-line" style="display: none">
                <!-- 虚线 -->
            </h2>

            <div style="text-align: center">
                <input type="submit" value="登  録">
            </div>

            <input type="hidden" name="action" value="">
        </form>

    </div>
</div>

<div id="torihikisakiWindow" style="display: none"></div>
<div id="shainWindow" style="display: none"></div>


<!-- [if lt IE 9] >
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<![endif]  -->
<!-- [if gte IE 9] ><!-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- <![endif]  -->
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="js/datePickerFormat.js"></script>
<script src="js/TG0201.js"></script>
</body>
</html>